.index_body {
    margin: auto;
}

.index_nav {
    /*height: 65px;*/
    width: 100%;
    /*background-color: aqua;*/
    position: fixed;
    /*opacity: 0;*/
}

.index_nav ul li {
    /*float: left;*/
    list-style: none;
    line-height: 200%;
    margin-right: 50px;
}

.sec-area {
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    color: #00b4ef;
}

@media (max-height: 768px) {
    .index_nav {
        opacity: 0.8;
    }
}
