.main_body {
    margin: auto;
}

.main_nav {
    height: 65px;
    width: 100%;
    background-color: aqua;
    position: fixed;
}

.main_nav ul li {
    /*float: left;*/
    list-style: none;
    line-height: 200%;
}

.main_nav_li1 {
    width: 60%;
}

.main_nav_li2 {
    width: 15%;
}

.main_nav_li3 {
    width: 5%;
}

.main_nav_li4 {
    width: 5%;
}

.main_hot_scroll {
    height: 450px;
    background-color: #f5f1ae;
}

.main_menu {
    height: 50px;
    width: 100%;
    background-color: #86ffed;
}

.main_menu ul li {
    float: left;
    list-style: none;
    line-height: 300%;
}

.main_menu_li1 {
    /*width: 20%;*/
}

.main_menu_li2 {
    /*width: 20%;*/
}

.main_hot_sec {
    height: 350px;
    background-color: bisque;
}

.main_hot_sec div {
    float: left;
}

.main_hot_sec_area1 {
    height: 350px;
    width: 50%;
    background-color: grey;
}

.main_hot_sec_area2 {
    height: 350px;
    width: 50%;
    background-color: #c82c32;
}

.main_hot_thi {
    height: 500px;
    background-color: navajowhite;
}

.main_hot_thi_area1 {
    height: 250px;
    background-color: #5fc8c5;
}

.main_hot_thi_area1_a1 {
    height: 250px;
    width: 50%;
    background-color: cornflowerblue;
    float: left;
}

.main_hot_thi_area1_a2 {
    height: 250px;
    background-color: #7fcced;
}

.main_hot_thi_area2 {
    height: 250px;
    background-color: #d7fffb;
}

.main_hot_thi_area2_a1 {
    height: 250px;
    width: 50%;
    background-color: khaki;
    float: left;
}

.main_hot_thi_area2_a2 {
    height: 250px;
    background-color: #cd17aa;
}

.main_foot {
    height: 100px;
    background-color: #9f9c9e;
}
